.demo-img-frame {
    height: 20rem;
    width: 20rem;
    border: 1px solid $b-o10;
    border-radius: 50%;
    @extend %hidden;
    margin: 2rem 0;
}
.clippy {
    width: 100%;
    height: 0;
    padding-top: 100%;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    img {
        position: absolute;
        top: 0;
        left: 0;
    }
}
.demo-plyr {
    border-radius: 10px;
    @extend %hidden;
}
.demo-square {
    background-color: $primary;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &.lighter1 {
        background-color: $primary-light1;
    }
    &.lighter2 {
        background-color: $primary-light2;
    }
}