@media(max-width: 2560px) { //XXL
}
@media(max-width: 1920px) { //XL
}
@media(max-width: 1366px) { //Large
}
@media(max-width: 1024px) { //Medium
    .col10-sm {
        width: 100%
    }
    .side-nav {
        left: -100%;
        transition: .2s;
        opacity: 0;
    }
    .with-sider {
        padding-left: 2rem;
        transition: .2s;
    }
    .inner-wrapper {
        flex-wrap: wrap;
    }
    .footer-item,.footer-item:nth-child(2) {
        width: 100%;
        margin: 2rem 0;
        padding: 0;
    }
    .wrapper {
        margin: 0;
    }
    .ham {
        display: block;
    }
    .scrollspy-item-wrapper {
        display: none;
    }
}
@media(max-width: 768px) { //Small
}
@media(max-width: 500px) { //XS
}
@media(max-width: 375px) { //XXS
}