@import "kit";

html, body, * {
    box-sizing: border-box;
    position: relative;
    font-size: 10px;
    line-height: 1.6;
    font-family: $font;
}

body {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    background-color: $b5;
}

* {
    font-size: 1.4rem;
    -webkit-touch-callout: auto; /* iOS Safari */
    -webkit-user-select: auto; /* Safari */
     -khtml-user-select: auto; /* Konqueror HTML */
       -moz-user-select: auto; /* Old versions of Firefox */
        -ms-user-select: auto; /* Internet Explorer/Edge */
            user-select: auto; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@import "style";
@import "index";
@import "about";
@import "getting-start";
@import "grid";
@import "helpers";
@import "rwd";

