@import "kit";

html, body, * {
    box-sizing: border-box;
    position: relative;
    font-size: 10px;
    line-height: 1.6;
    font-family: $font;
}

body {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    background-color: $b5;
}

* {
    font-size: 1.4rem;
}

@import "style";
@import "code-prettify";
@import "index";
@import "about";
@import "getting-start";
@import "rwd";

