<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>PCUI-Useful Tool For Building Up</title>
<!--google plus info-->
<meta itemprop="name" content="{網頁標題}">
<meta itemprop="image" content="https://cdn.jsdelivr.net/gh/zqartwork/zqartworkImage/img/PCUI/page-img.jpg">
<meta name="description" content="{網頁內容敘述}" />
<!--FB info-->
<meta property="og:title" content="{網頁標題}" />
<meta property="og:site_name" content="[網站名稱]" />
<meta property="og:url" content="[網頁網址_URL]">
<meta property="og:image" content="https://cdn.jsdelivr.net/gh/zqartwork/zqartworkImage/img/PCUI/page-img.jpg">
<meta property="og:description" content="{網頁內容敘述}">
<meta property="og:type" content="website" />
<!-- App-icon -->
<link rel="apple-touch-icon-precomposed" href="https://cdn.jsdelivr.net/gh/zqartwork/zqartworkImage/img/PCUI/apple-touch-icon-152x152.png">
<!--Favicon-->
<link rel="icon" href="https://cdn.jsdelivr.net/gh/zqartwork/zqartworkImage/img/PCUI/favicon.ico" type="image/x-icon" />
<!--CSS-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<!-- wow animate -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<!-- owl-default-theme -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

<!-- prism.js -->
<link rel="stylesheet" href="css/prism.css">
<script src="js/prism.js"></script>

<!-- main-style -->
<link rel="stylesheet" href="css/main.css">
<body>
    <div id="app">
        <div class="wrapper">
            <script src="js/nav.js"></script>
            <div class="scrollspy scrollspy-theme">
                <div class="scrollspy-item-wrapper">
                    <a href="#itemAlign" class="scroll-spy-nav-item anchor" data-scroll="itemAlign"><span>物件對齊</span></a>
                    <a href="#textAlign" class="scroll-spy-nav-item anchor" data-scroll="textAlign"><span>文字對齊</span></a>
                    <a href="#hideEvent" class="scroll-spy-nav-item anchor" data-scroll="hideEvent"><span>顯示與隱藏</span></a>
                    <a href="#txtEllipsis" class="scroll-spy-nav-item anchor" data-scroll="txtEllipsis"><span>文字溢出</span></a>
                    <a href="#hoverShadow" class="scroll-spy-nav-item anchor" data-scroll="hoverShadow"><span>浮出特效</span></a>
                </div>
            </div>
            <main class="with-sider intro">
                <section class="" id="pjTitle">
                    <div class="container">
                        <h1 class="index-title">Helpers</h1>
                        <h4 class="intro-title">
                            <span>在搭建網站時，常用的對齊功能、排版功能以及顯示消失的簡單判斷。</span>
                        </h4>
                    </div>
                </section>
                <div class="divi-wide"></div>
                <section id="itemAlign">
                    <div class="container">
                        <h2 class="txt-primary section-title">Align Items 物件對齊</h2>
                        <p>對其容器中的物件，這邊延續前方的 Flexbox 專用。詳細 Flexbox 的對齊方式請參考 Flexbox 專門文件，分清楚 justify-content, align-item, align-content, align-self 的性質差異。</p>
                        <div class="demo-section">
                            <p>水平置中 ( justify-content: center )、垂直置中 ( align-item: center )</p>
                            <div class="row jc-ct ai-ct">
                                <span class="demo-content itemAlign">被定位的物件</span>
                                <span class="demo-content itemAlign">被定位的物件</span>
                                <span class="demo-content itemAlign">被定位的物件</span>
                            </div>
                        </div>
                        <div class="pre jc-sb ai-ct">
<pre>
<code class="language-html">&lt;div class="row jc-ct ai-ct"&gt;
    &lt;span&gt;被定位的物件&lt;/span&gt;
    &lt;span&gt;被定位的物件&lt;/span&gt;
    &lt;span&gt;被定位的物件&lt;/span&gt;
&lt;/div&gt;</code>
</pre>                            
                        </div>
                    <div class="property-list">
                        <table>
                            <tr>
                                <th>ClassName</th>
                                <th>Property</th>
                            </tr>
                            <tr v-for="ppItem in ppItems">
                                <td><code class="language-css">{{ppItem.className}}</code></td>
                                <td>{{ppItem.property}}</td>
                            </tr>
                        </table>
                    </div>
                        <div class="divi-wide"></div>
                    </div>
                </section>
                <section id="textAlign">
                    <div class="container">
                        <h2 class="section-title txt-primary">Text Align 文字對齊</h2>
                        <p>在父層為 Block 的情況下，對齊 inline 物件以及文字的簡易方法。</p>
                        <div class="demo-section">
                            <p class="txt-center">--文字置中--</p>
                            <p class="txt-left">--文字置左--</p>
                            <p class="txt-right">--文字置右--</p>
                        </div>
                        <div class="pre jc-sb ai-ct">
<pre>
<code class="language-html">&lt;div class=""&gt;
    &lt;p class="txt-center"&gt;--文字置中--&lt;/p&gt;
    &lt;p class="txt-left"&gt;--文字置左--&lt;/p&gt;
    &lt;p class="txt-right"&gt;--文字置右--&lt;/p&gt;
&lt;/div&gt;</code>
</pre>                            
                        </div>
                        <div class="property-list">
                            <table>
                                <tr>
                                    <th>ClassName</th>
                                    <th>Property</th>
                                </tr>
                                <tr v-for="p2Item in p2Items">
                                    <td><code class="language-css">{{p2Item.className}}</code></td>
                                    <td>{{p2Item.property}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="divi-wide"></div>
                    </div>
                </section>
                <section id="hideEvent">
                    <div class="container">
                        <h2 class="section-title txt-primary">顯示與隱藏</h2>
                        <p>在多裝置顯示的情況下，會需要隱藏顯示部分內容，例如：navbar，這裡有些方便的選擇。</p>
                        <div class="property-list">
                            <table>
                                <tr>
                                    <th>ClassName</th>
                                    <th>Property</th>
                                </tr>
                                <tr v-for="p3Item in p3Items">
                                    <td><code class="language-css">{{p3Item.className}}</code></td>
                                    <td>{{p3Item.property}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="divi-wide"></div>
                    </div>
                </section>
                <section id="txtEllipsis">
                    <div class="container">
                        <h2 class="section-title txt-primary">Text Ellipsis 文字溢出</h2>
                        <p>文字溢出算是非常常用的事件，因此特別列作常出現的 className 選項。</p>
                        <div class="demo-section col2">
                            <h4 class="ellipsis">這段敘述會因為太長而被藏起來。</h4>
                        </div>
                        <div class="pre jc-sb ai-ct">
<pre>
<code class="language-html">&lt;h4 class="ellipsis"&gt;這段敘述會因為太長而被藏起來。&lt;/h4&gt;</code>
</pre>                            
                        </div>
                        <p>文字多行隱藏</p>
                        <div class="demo-section col2">
                            <h4 class="multi-ellipsis cl-3">這段敘述會因為太長而被藏起來。這段敘述會因為太長而被藏起來。這段敘述會因為太長而被藏起來。</h4>
                        </div>
                        <div class="pre jc-sb ai-ct">
<pre>
<code class="language-html">&lt;h4 class="multi-ellipsis cl-3"&gt;這段敘述會因為太長而被藏起來。這段敘述會因為太長而被藏起來。這段敘述會因為太長而被藏起來。&lt;/h4&gt;</code>
</pre>                            
                        </div>
                        <div class="property-list">
                            <table>
                                <tr>
                                    <th>ClassName</th>
                                    <th>Property</th>
                                </tr>
                                <tr v-for="p4Item in p4Items">
                                    <td><code class="language-css">{{p4Item.className}}</code></td>
                                    <td>{{p4Item.property}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="divi-wide"></div>
                    </div>
                </section>
                <section id="hoverShadow">
                    <div class="container">
                        <h2 class="section-title txt-primary">Hovering Effect 浮出特效</h2>
                        <p>將滑鼠懸浮於物件上，而物件出現浮出的效果為十分常見的動畫，故獨立出來。</p>
                        <div class="demo-section">
                            <a href="#!" class="rec-ext-app-item simple-card-item col4 col10-sm hover-shadow">
                                <div class="rec-ext-app-img simple-card-img col4">
                                    <img src="https://cdn.jsdelivr.net/gh/zqartwork/zqartworkImage/img/PCUI/apple-touch-icon-152x152.png" alt="">
                                </div>
                                <div class="rec-ext-app-body simple-card-body col6">
                                    <div class="rec-ext-app-name simple-card-name">hoverCardName</div>
                                    <div class="rec-ext-app-txt simple-card-txt">
                                        This is card content.
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="pre jc-sb ai-ct">
<pre>
<code class="language-html">&lt;div class="simple-card-item hover-shadow"&gt;&lt;/div&gt;</code>
</pre>                            
                        </div>
                        <p>目前使用的陰影方式，是 <code class="language-css">filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1))</code> 作為基礎，在某些情況會有少數白線 bug ，通常發生在多圖且多層 z-index 的情況下，如想避免，且有IE需求的請自行更改成 box-shadow。</p>
                        <p>唯一的缺點就只是 .png 圖檔 無法照著形狀做出陰影，在自由設計的程度上造成一定的限制。</p><br>
                        <p>目前瀏覽器使用狀態請參考 <a href="https://caniuse.com/css-filters" target="_blank" rel="noopener noreferrer" class="txt-primary"><span>【CSS Filter Effect - caniuse.com】</span></a> </p>
                    </div>
                </section>
            </main>
            <script src="js/footer.js"></script>
        </div>
    </div>
<!--jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
<!-- FontAwesome -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
<!-- wow.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<!-- owlCarousel2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- vue.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

<!-- JQ 掛載點 -->
<script>
    $(document).ready(function() {
        classToggler();
    });
</script>
<script>
    new Vue({
        el:"#app",
        data:{
            ppItems: [
                {
                    className: '.jc-ct',
                    property: 'justify-content: center',
                },{
                    className: '.jc-fs',
                    property: 'justify-content: flex-start',
                },{
                    className: '.jc-fe',
                    property: 'justify-content: flex-end',
                },{
                    className: '.jc-sa',
                    property: 'justify-content: space-around',
                },{
                    className: '.jc-sb',
                    property: 'justify-content: space-between',
                },{
                    className: '.ac-ct',
                    property: 'align-content: center',
                },{
                    className: '.ac-fs',
                    property: 'align-content: flex-start',
                },{
                    className: '.ac-fe',
                    property: 'align-content: flex-end',
                },{
                    className: '.ac-sa',
                    property: 'align-content: space-around',
                },{
                    className: '.ac-sb',
                    property: 'align-content: space-between',
                },{
                    className: '.ai-ct',
                    property: 'align-item: center',
                },{
                    className: '.ai-fs',
                    property: 'align-item: flex-start',
                },{
                    className: '.ai-fe',
                    property: 'align-item: flex-end',
                },{
                    className: '.ai-bl',
                    property: 'align-item: baseline',
                },{
                    className: '.ai-st',
                    property: 'align-item: strech',
                },{
                    className: '.as-ct',
                    property: 'align-self: center',
                },{
                    className: '.as-fs',
                    property: 'align-self: flex-start',
                },{
                    className: '.as-fe',
                    property: 'align-self: flex-end',
                },{
                    className: '.as-bl',
                    property: 'align-self: baseline',
                },{
                    className: '.as-st',
                    property: 'align-self: strech',
                },
            ],
            p2Items: [
                {
                    className: '.txt-center',
                    property: 'text-align: center',
                },{
                    className: '.txt-left',
                    property: 'text-align: left',
                },{
                    className: '.txt-right',
                    property: 'text-align: right',
                },
            ],
            p3Items: [
                {
                    className: 'hide',
                    property: 'display: none',
                },{
                    className: 'hide-on-sm-only',
                    property: 'Hidden for Mobile only.',
                },{
                    className: 'hide-on-m-only',
                    property: 'Hidden for Tablet only.',
                },{
                    className: 'hide-on-l-only',
                    property: 'Hidden for PC only.',
                },{
                    className: 'hide-on-m-and-down',
                    property: 'Hidden for Tablet and Below.',
                },{
                    className: 'hide-on-m-and-up',
                    property: 'Hidden for Tablet and Above.',
                },{
                    className: 'show-on-sm-only',
                    property: 'Show for Mobile only.',
                },{
                    className: 'show-on-m-only',
                    property: 'Show for Tablet only.',
                },{
                    className: 'show-on-l-only',
                    property: 'Show for PC only.',
                },{
                    className: 'show-on-m-and-down',
                    property: 'Show for Tablet and Below.',
                },{
                    className: 'show-on-m-and-up',
                    property: 'Show for Tablet and Above.',
                },
            ],
            p4Items: [
                {
                    className: '.cl-2',
                    property: '-webkit-line-clamp: 2',
                },{
                    className: '.cl-3',
                    property: '-webkit-line-clamp: 3',
                },{
                    className: '.cl-4',
                    property: '-webkit-line-clamp: 4',
                },{
                    className: '.cl-5',
                    property: '-webkit-line-clamp: 5',
                },
            ],
        },
        method:"",
        mounted() {
            
        },
    })
</script>

<!-- custom.js -->
<script src="js/custom.js"></script>

</body>
