@media (max-width: 1366px) {
    .kv-board h1,
    .time-count-down-item,
    .kc-sc-number {
        font-size: 4vw;
    }
    .kc-txt,
    .primary-btn-glowing {
        font-size: 1.8vw;
    }
    .caption-content {
        padding: 1rem 2.4rem;
    }
    .caption-content .subtitle,
    .time-count-down-item .subtxt {
        font-size: 1.8vw;
    }
    .rw-img.thumb {
        margin: 0 1rem;
    }
    .rw-wrapper .lockup-arr-l {
        right: 102%;
    }
    .rw-wrapper .lockup-arr-r {
        left: 102%;
    }
    .rw-img.thumb:hover {
        transform: translateX(1px) translateY(1px);
        filter: drop-shadow(0 0 10px #ff8a1e);
    }
    .kc-reward,
    .extra-link-wrap {
        margin: 4vw 0;
    }
    .kc-signup-count {
        margin-bottom: 5vw;
    }
    #kc {
        position: relative;
        z-index: 2;
        padding-top: calc((365 / 2560) * 100vw - (80 / 2560) * 100vw);
    }
}
@media (max-width: 1024px) {
    nav .logo-wrap {
        background-image: url(../img/index-asset/logo-brick-m.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 56.2rem;
        height: 12rem;
    }
    nav .logo-wrap .lockup-arr-l {
        right: 100%;
    }
    .border-inside {
        width: calc(100% - 12rem);
    }
    .rw-img.thumb {
        margin: 0 0.5rem;
    }
    .kv-board h1,
    .time-count-down-item,
    .kc-sc-number {
        font-size: 32px;
    }
    .kc-txt,
    .primary-btn-glowing {
        font-size: 16px;
    }
    .caption-content .subtitle,
    .time-count-down-item .subtxt {
        font-size: 16px;
    }
    .rw-img.thumb::before {
        top: -220%;
    }
}
@media (max-width: 768px) {
    .subtxt {
        white-space: nowrap;
    }
    nav .logo-wrap {
        width: 36rem;
        height: 10rem;
    }
    .caption-content {
        flex-direction: column;
        background-color: $secondary-black;
    }
    .caption-content .subtitle {
        margin-bottom: 1rem;
    }
    .kc-txt {
        padding: 8vw 5vw 5vw 5vw;
    }
    .rw-img.thumb::before {
        top: -250%;
    }
    .rw-img-wrap {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .rw-img.thumb {
        width: 45%;
        margin: 1rem;
    }
    .footer-body {
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .footer-links-wrap {
        margin: 4rem 0;
    }
    footer {
        padding: 4rem 0;
    }
    .copyright {
        text-align: center;
    }
}
@media (max-width: 500px) {
    .rw-img.thumb::before {
        top: -280%;
    }
    nav .logo-wrap {
        height: calc((100 / 500) * 100vw);
        width: calc((360 / 500) * 100vw);
    }
    .rw-wrapper .lockup-arr-l {
        right: calc(100% - 2rem);
        display: none;
    }
    .rw-wrapper .lockup-arr-r {
        left: calc(100% - 2rem);
        display: none;
    }
    .kv-board h1,
    .time-count-down-item,
    .kc-sc-number {
        font-size: 20px;
    }
    .kv-board h1 {
        text-align: center;
    }
    .primary-btn-glowing {
        padding: 1.5rem 6rem;
    }
    .kc-reward {
        width: 100%;
        left: unset;
    }
    .kc-txt {
        padding: 3rem;
    }
    .embed-caption {
        top: 0;
        height: auto;
        padding: 3rem 0 0 0;
        background-color: rgba(0, 0, 0, 0);
    }
    .embed-caption::after {
        background-color: rgba(0, 0, 0, 0);
    }
    .caption-content {
        padding: 0;
    }
    .border-inside {
        width: calc(100%);
    }
    .modal-close-btn {
        font-size: 2.4rem;
    }
    .modal-title {
        text-align: left;
        font-size: 16px;
    }
    .styled-checkbox + label {
        font-size: 14px;
    }
    .secondary-btn {
        padding: 1rem 3rem;
    }
    .primary-btn-glowing.sm,
    .result-txt {
        font-size: 16px;
    }
    .modal-title-logo {
        width: 100%;
    }
    .modal-title {
        width: 80%;
        line-height: 2;
    }
}
@media (max-width: 375px) {
} ;
