html,
body {
    background-color: $secondary-black;
}

section {
    // border: 1px solid red;
    // height: 50vh;
    // width: 100%;
    // background-color: gray;
}

button {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

ol {
    &.decimal {
        list-style: decimal;
        padding-left: 1.5rem;
    }
}

a,
span,
img,
input {
    display: inline-flex;
    text-decoration: none;
    outline: none;
    border: 0;
}
a {
    color: $gray80;
    cursor: pointer;

    *,
    svg,
    img,
    i {
        cursor: pointer;
    }

    &:active,
    &:visited,
    &:focus {
        color: inherit;
    }
    &:hover {
        color: $gray50;
    }
}

.primary-btn-glowing {
    background-image: $primary-gradient;
    border-radius: 5rem;
    padding: 2rem 10rem;
    margin: 0 1rem;
    border: 0;
    font-size: 3.2rem;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: 0.4s;
    @extend %hidden;

    filter: drop-shadow(0 0 10px $twm);

    &.sm {
        font-size: 20px;
    }

    &::before {
        content: "";
        position: absolute;
        height: 300px;
        width: 100px;
        background-color: $w20;
        transform-origin: center;
        transform: rotate(45deg);

        top: -80%;
        left: -80%;

        transition: 0.4s;
    }

    &:hover {
        transform: translateX(2px) translateY(2px);
        filter: drop-shadow(0 0 20px $twm);
        &::before {
            content: "";
            position: absolute;
            height: 300px;
            width: 100px;
            background-color: $w20;
            transform-origin: center;
            transform: rotate(45deg);

            top: -100%;
            left: 110%;
        }
    }
}
.primary-btn {
    background-image: $primary-gradient;
    padding: 1.8rem 2.4rem;
    border-radius: 3rem;
    font-size: 16px;
    color: $secondary-black;
    font-weight: 500;
    margin: 1rem 0;
    &.full {
        width: 100%;
    }
}

.secondary-btn {
    background-color: $divider;
    padding: 1.8rem 2.4rem;
    border-radius: 3rem;
    font-size: 16px;
    color: $primary-white;
    font-weight: 500;
    margin: 1rem 0;

    &:hover {
        filter: brightness(1.1);
    }
    &.full {
        width: 100%;
    }
}
/*
-----
Modal
-----
*/
.modal-opener {
    cursor: pointer;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    z-index: 101;
    background-color: $b60;
    font-size: 1.4rem;

    display: none;
}
.modal-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.modal-mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
}
.modal-panel {
    display: inline-flex;
    flex-direction: column;

    z-index: 1;
    height: auto;
    max-width: calc(100% - 3rem);
    width: auto;

    margin: 0 auto;
    background-image: $secondary-gradient-vertical;
    color: $primary-white;
    border-radius: 5px;

    padding: 2rem 0;
}
.modal-title {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
    margin-bottom: 2vw;
}
.modal-subtitle {
    font-size: 1.4rem;
}
.modal-wrap {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    padding: 2vw;
}
.modal-header,
.modal-body,
.modal-footer {
    padding: 0 2rem;
    img {
        width: auto;
        max-width: 100%;
    }
}
.modal-body {
    display: inline-flex;
    flex-direction: column;
    max-height: 70vh;
    overflow-y: auto;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2;
}
.divi-wide {
    height: 1px;
    width: 100%;
    background-color: $w20;
    margin: 2rem 0;
}
.modal-close-btn {
    position: absolute;
    right: 2rem;
    top: 0.5rem;
    z-index: 1;
    font-size: 3.6rem;
    color: $w20;

    svg {
        color: $w20;
    }
    &:hover {
        svg {
            color: $primary-white;
        }
    }
}
.modal-footer {
    text-align: center;
}

// Modal end
/*
-----------
Nav
-----------
*/
nav {
    position: relative;
    width: 100%;
    height: auto;

    background-color: $nav;

    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        z-index: 1;

        top: 100%;
        left: 0;

        background-image: $primary-gradient;
    }

    .logo-wrap {
        position: relative;
        width: 76.2rem;
        height: 15rem;
        background-image: url(../img/index-asset/logo-brick-l.svg);
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 60%;
        }

        .lockup-arr-l,
        .lockup-arr-r {
            content: "";
            position: absolute;
            right: 100%;
            top: calc(50% - 6px);

            height: 10px;
            width: 15px;

            background-image: url(../img/index-asset/d+twm-triangle.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .lockup-arr-r {
            right: unset;
            left: 100%;
            background-image: url(../img/index-asset/d+twm-triangle-r.svg);
        }
    }
}

/*
-----------
Scroll Top
-----------
*/
.scrollTop {
    position: fixed;
    z-index: 10;
    right: 4.8rem;
    bottom: 4.8rem;
    background-color: $w20;
    height: 9rem;
    width: 9rem;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    color: $w20;
    border-radius: 2rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    svg {
        cursor: pointer;
    }
}

@media (max-width: 1366px) {
    .scrollTop {
        height: 5rem;
        width: 5rem;
    }
}
@media (max-width: 1024px) {
    .scrollTop {
        height: 6rem;
        width: 6rem;
        right: 1.6rem;
        bottom: 1.6rem;

        svg {
            width: 1.6rem;
            height: 1.6rem;
        }
    }
}

/*
---------------
Gradient-border
---------------
*/
.gradient-border {
    position: relative;
    width: 100%;
    height: auto;
    color: $primary-white;
    background-color: $secondary-black;

    border-radius: 3rem;

    &::after {
        content: "";
        position: absolute;
        z-index: -1;

        top: -1px;
        left: -1px;
        height: calc(100% + 2px);
        width: calc(100% + 2px);

        border-radius: 3rem;
        background-image: $primary-gradient;
    }
}

/*
-------------
Count Down
-------------
*/
.time-count-down-item {
    display: flex;
}

/*
--------
Custom Checkbox
--------
*/

.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it

    & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
        z-index: 1;
        height: 32px;
    }
    &.btn {
        & + label {
            display: inline-flex;
            background-color: $nav-hover;
            padding: 1.5rem;
            margin: 0 auto;
            width: 100%;
            max-width: 25rem;
            align-items: center;
            justify-content: center;

            border-radius: 1.5rem;
        }
        &:hover + label {
            background-color: $primary-black;
        }
        &:checked + label {
            border: 1px solid $twm;
        }
    }

    // Box.
    & + label:before {
        content: "";
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 32px;
        height: 32px;
        border-radius: 5px;
        background: $w20;
    }

    // Box hover
    &:hover + label:before {
        background: $w50;
    }

    // Box focus
    &:focus + label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    // Box checked
    &:checked + label:before {
        background: $primary-white;
    }

    &.btn + label:before,
    &.btn + label:after {
        display: none;
    }
    // Disabled state label.
    &:disabled + label {
        color: $w20;
        cursor: auto;
    }

    // Disabled box.
    &:disabled + label:before {
        box-shadow: none;
        background: $w20;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
        content: "";
        position: absolute;
        left: 6px;
        top: 6px;
        width: 15px;
        height: 9px;
        border-bottom: 4px solid $primary-black;
        border-left: 4px solid $primary-black;
        transform: rotate(-45deg);
    }
}

/*
-----------------------
Custom Radio 自訂單選按鈕
-----------------------
*/
.custom-radio {
    display: inline-flex;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    align-items: center;
    color: $white;
    width: auto;
    overflow: unset;
}

/* Hide the browser's default radio button */
.custom-radio input {
    position: absolute;
    z-index: 0;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: relative;
    z-index: 1;
    padding: 1.5rem calc((88 / 1920) * 100vw);
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $nav-hover;
    border-radius: 1.5rem;
}

/* On mouse-over, add a grey background color */

.custom-radio:hover input ~ .checkmark {
    background-color: $black;
}

/* When the radio button is checked, add a blue background */
.custom-radio input:checked ~ .checkmark {
    background-color: $black;
    img {
        position: relative;
        z-index: 2;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: calc(100%);
        width: calc(100%);
        background-color: $secondary-black;
        border-radius: 1.5rem;
        z-index: 1;
    }
    &::after {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        height: calc(100% + 4px);
        width: calc(100% + 4px);
        background-image: $primary-gradient;
        border-radius: 1.5rem;
        z-index: 0;
    }
}

/* Create the indicator (the dot/circle - hidden when not checked) */
// .checkmark:after {
//     content: "";
//     position: absolute;
//     display: none;
// }

/* Show the indicator (dot/circle) when checked */
// .custom-radio input:checked ~ .checkmark:after {
//     display: block;
// }

/* Style the indicator (dot/circle) */
// .custom-radio .checkmark:after {
//     top: 3.5px;
//     left: 4px;
//     width: 16px;
//     height: 16px;
//     border-radius: 3px;
//     background: $white;
// }

/*
-----------
KV
-----------
*/
#app {
    background-image: url(../img/index-asset/universe-bg-img.png);
    background-position: right bottom;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}
.kv-wrapper {
    width: 100%;
}
.kv-container {
    width: 100%;
    height: calc((849 / 2560) * 100vw);

    background-image: url(../img/index-asset/bn-for-web.jpg);
    background-size: contain;
    background-repeat: no-repeat;

    position: relative;
}
.kv-board {
    position: absolute;

    width: 100%;
    height: calc((365 / 2560) * 100vw);

    top: calc((849 / 2560) * 100vw - (140 / 2560) * 100vw);
    background-image: url(../img/index-asset/board.png);
    background-size: cover;
    background-repeat: no-repeat;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: $primary-white;
        font-weight: 700;
        font-size: 6.4rem;
    }
}

/*
---------------
KC
---------------
*/
#kc {
    position: relative;
    z-index: 2;
    padding-top: calc((365 / 2560) * 100vw - (140 / 2560) * 100vw);
}
.kc-container {
    width: calc(100% - 3rem);
    margin: 0 auto;
    max-width: 90rem;
    font-size: 2.4rem;

    text-align: center;
}
.kc-txt {
    padding: calc((80 / 1920) * 100vw) calc((100 / 1920) * 100vw);
    line-height: 2;
}
.embed-caption {
    display: inline-flex;
    position: relative;
    top: -2rem;
    width: auto;
    height: 0;
    justify-content: center;

    &::after {
        content: "";
        position: absolute;
        background-color: $secondary-black;
        height: calc((74 / 2560) * 100vw);
        width: 100%;
        top: 0;
        left: 0;
    }
}
.caption-content {
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 1;

    padding: 1rem 4.4rem;
    color: $twm;
    .subtitle {
        font-size: 2.4rem;
        color: $divider;
    }
}
.time-count-down-item {
    font-size: 4.8rem;
    font-weight: 700;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    .subtxt {
        display: inline-flex;
        align-self: flex-end;
        font-size: 2.4rem;
        font-weight: 500;
    }

    .number {
        margin: 0 1rem;
    }
}
/*RW*/
.kc-reward {
    position: relative;
    width: calc(100% + 6rem);
    left: -3rem;
    margin: 8rem 0;
}
.rw-wrapper {
    position: relative;

    .lockup-arr-l,
    .lockup-arr-r {
        content: "";
        position: absolute;
        right: 105%;
        top: calc(50% - 6px);

        height: 10px;
        width: 15px;

        background-image: url(../img/index-asset/d+twm-triangle.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .lockup-arr-r {
        right: unset;
        left: 105%;
        background-image: url(../img/index-asset/d+twm-triangle-r.svg);
    }
}
.rw-img-wrap {
    display: flex;
}
.rw-img.thumb {
    position: relative;
    width: 25%;
    border-radius: 1.5rem;
    @extend %hidden;
    margin: 0 1.5rem;
    transition: 0.2s;

    &::before {
        content: "";
        position: absolute;
        height: 500px;
        width: 200px;
        background-color: $w20;
        transform-origin: center;
        transform: rotate(45deg);
        z-index: 3;

        top: -120%;
        left: -80%;

        transition: 0.3s;
    }

    &:hover {
        transform: translateX(2px) translateY(2px);
        filter: drop-shadow(0 0 20px $twm);
        &::before {
            content: "";
            position: absolute;
            height: 500px;
            width: 100px;
            background-color: $w20;
            transform-origin: center;
            transform: rotate(45deg);

            top: -50%;
            left: 150%;
        }
    }
}
.ratio {
    position: relative;
    height: 0;
    width: 100%;

    &__1-1 {
        padding-top: 100%;
    }
    &__9-16 {
        padding-top: calc((14 / 9) * 100%);
        .vl-radius {
            border-radius: 1.5rem;
            @extend %hidden;
        }
    }

    .img-wrap {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        @extend %hidden;

        img {
            height: 100%;
            width: 100%;
        }
    }
}

.border-inside {
    width: calc(100% - 6rem);
    margin: 0 auto;
}

.kc-sc-number {
    font-size: 4.8rem;
    font-weight: 700;
    margin: 0 2rem;
}
.kc-signup-count {
    margin: 0 0 8rem 0;
}

/*
--------------
Extra Links
--------------
*/
#extraLink {
    padding: 4rem 0 8rem 0;
}
.extra-link-wrap {
    width: 100%;
    margin: 8rem 0;
}
.link-inner-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-group-txt {
    text-align: center;
    font-size: 1.6rem;
    color: $primary-white;
    margin-bottom: 2rem;
}
.social-link {
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}

/*
--------------
Footer
--------------
*/

footer {
    background-color: $primary-black;
    padding: 8rem 0 4rem 0;
}

.footer-container {
    width: calc(100% - 3rem);
    max-width: 136.6rem;
    margin: 0 auto;
}

.footer-logo {
    width: 100%;
    max-width: 30rem;
}

.footer-links,
.copyright {
    color: $gray50;
    font-size: 1.6rem;
}
.copyright {
    font-size: 1.2rem;
}

.footer-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.footer-links {
    margin: 0 2rem;
    &:hover {
        color: $primary-white;
    }
}

/*
---------------
Custom input frame
---------------
*/
.input-wrap {
    position: relative;
    width: 100%;
    height: 7.2rem;
    max-width: 500px;
    align-items: center;
    justify-content: center;
    // border-radius: 2rem;
    border-top: 0;
    border-bottom: 0;
    margin: 2.4rem 0;
    &.checkbox {
        height: auto;
        label {
            display: inline-flex;
            align-items: center;
        }
    }
    &.radio {
        margin: 0.5rem 0;
    }
    .input-frame-left-top {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 3rem;
        max-width: 3rem;
        // border: 1px solid red;
        @extend %hidden;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 7.2rem;
            width: 500px;
            z-index: 1;
            border-radius: 2rem;
            border: 1px solid $w50;
            border-bottom: 0;
            border-right: 0;
        }
    }
    .input-frame-right-top {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 3rem;
        max-width: 3rem;
        // border: 1px solid red;
        @extend %hidden;

        &::before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            height: 7.2rem;
            width: 500px;
            z-index: 1;
            border-radius: 2rem;
            border: 1px solid $w50;
            border-bottom: 0;
            border-left: 0;
        }
    }
    .input-frame-left-bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3rem;
        max-width: 3rem;
        // border: 1px solid red;
        @extend %hidden;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 7.2rem;
            width: 500px;
            z-index: 1;
            border-radius: 2rem;
            border: 1px solid $w50;
            border-top: 0;
            border-right: 0;
        }
    }
    .input-frame-right-bottom {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 3rem;
        max-width: 3rem;
        // border: 1px solid red;
        @extend %hidden;

        &::before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            height: 7.2rem;
            width: 500px;
            z-index: 1;
            border-radius: 2rem;
            border: 1px solid $w50;
            border-top: 0;
            border-left: 0;
        }
    }
    .input-frame-line-right {
        position: absolute;
        right: 0;
        bottom: 1.5rem;
        width: 100%;
        height: 3rem;
        max-width: 3rem;
        // border: 1px solid red;
        @extend %hidden;

        &::before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            height: 7.2rem;
            width: 500px;
            z-index: 1;
            border-right: 1px solid $w50;
        }
    }
    .input-frame-line-left {
        position: absolute;
        left: 0;
        bottom: 1.5rem;
        width: 100%;
        height: 3rem;
        max-width: 3rem;
        // border: 1px solid red;
        @extend %hidden;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 7.2rem;
            width: 500px;
            z-index: 1;
            border-left: 1px solid $w50;
        }
    }
    .input-frame-line-top {
        position: absolute;
        left: calc(1.5rem + 10rem);
        top: 0;
        width: 100%;
        height: 3rem;
        max-width: calc(100% - 11.5rem - 3rem);
        // border: 1px solid red;
        @extend %hidden;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 7.2rem;
            width: 500px;
            z-index: 1;
            border-top: 1px solid $w50;
        }
    }
    .input-frame-line-bottom {
        position: absolute;
        left: calc(3rem);
        bottom: 0;
        width: 100%;
        height: 3rem;
        max-width: calc(100% - 6rem);
        // border: 1px solid red;
        @extend %hidden;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 7.2rem;
            width: 500px;
            z-index: 1;
            border-bottom: 1px solid $w50;
        }
    }
}
.input-wrap {
    display: flex;
    width: 100%;
    min-width: 100%;
    max-width: 45rem;
    input {
        border: 0;
        padding: 1.5rem;
        padding-left: 3rem;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        font-size: 1.6rem;
        color: $primary-white;
    }
}
.input-title {
    position: absolute;
    left: 4rem;
    top: -1.6rem;
    color: $w50;
}
input[type="text"] ~ span {
    transition: 0.2s;
}
input[type="text"]:focus ~ span {
    color: $primary-white;
    &::before {
        border-color: $primary-white;
    }
}
input[type="text"]:focus {
    ~ .input-frame-line-top {
        left: calc(1.5rem + 10rem + 1rem);
        max-width: calc(100% - 11.5rem - 3rem - 1rem);
    }

    ~ .input-title {
        font-size: 1.8rem;
        top: -1.8rem;
    }
}

.input-wrap {
    &.email {
        .input-frame-line-top {
            left: calc(1.5rem + 7.5rem + 1rem);
            max-width: calc(100% - 11.5rem - 3rem - 1rem + 2.5rem);
        }
        input[type="text"]:focus {
            ~ .input-frame-line-top {
                left: calc(1.5rem + 7.5rem + 1.5rem);
                max-width: calc(100% - 11.5rem - 3rem - 1rem + 2.5rem);
            }
        }
    }
}
.brand-list {
    margin-bottom: 2vw;
}
.video-list {
    display: flex;
    width: auto;
    flex-wrap: wrap;
}
.input-wrap.video-radio {
    width: calc(100% / 3 - 1rem);
    height: auto;
    max-height: unset;
    max-width: unset;
    min-width: unset;
    align-items: flex-start;
    margin: 0.5rem;
    .custom-radio {
        width: 100%;
    }
    .checkmark,
    .custom-radio:hover input ~ .checkmark {
        background-color: rgba(0, 0, 0, 0);
    }
    .checkmark {
        // border: 1px solid red;
        padding: 0;
        opacity: 0.5;
        transition: 0.1s;
    }
    .custom-radio:hover input ~ .checkmark,
    .custom-radio input:checked ~ .checkmark {
        opacity: 1;
    }
}
.heart {
    display: inline-flex;
    opacity: 0;
    z-index: -100;
    background-color: $primary-white;
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;

    position: fixed;
}
.modal-title-logo {
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
}
.result-txt {
    font-size: 20px;
    max-width: 55rem;
    text-align: center;
}
.result-img {
    width: 100%;
    max-width: 15rem;
    margin: 3.6rem auto;
}
