/*
----------------
Font Download
----------------
*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto&display=swap");

/*
----------------
UI Kit Presets
----------------
*/

$font: "Noto Sans TC", "Roboto";

/*
----------------
Main Color Set
----------------
*/

$primary-gradient: linear-gradient(to right, #ffcd1e, #ff8a1e);
$primary-gradient-vertical: linear-gradient(to top, #ffcd1e, #ff8a1e);
$twm: #ff8a1e;
$secondary-gradient: linear-gradient(to right, #245296, #0a1729);
$secondary-gradient-vertical: linear-gradient(to bottom, #245296, #0a1729);
$primary-black: #2b2825;
$primary-white: #fff;
$w20: rgba(255, 255, 255, 0.2);
$w50: rgba(255, 255, 255, 0.5);
$secondary-black: #000;
$secondary-white: #f5f3f0;
$divider: #5b5b5b;
$nav: #2a2825;
$nav-hover: #151413;

$black: #000;
$b60: rgba(0, 0, 0, 0.6);
$gray90: hsl(0, 0%, 10%);
$gray80: hsl(0, 0%, 20%);
$gray70: hsl(0, 0%, 30%);
$gray60: hsl(0, 0%, 40%);
$gray50: hsl(0, 0%, 50%);
$gray40: hsl(0, 0%, 60%);
$gray30: hsl(0, 0%, 70%);
$gray20: hsl(0, 0%, 80%);
$gray10: hsl(0, 0%, 90%);
$gray5: hsl(0, 0%, 95%);
$white: #fff;
$trans: rgba(255, 255, 255, 0);

/*
----------------
External
----------------
*/
%hidden {
    overflow: hidden;
    object-position: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.twm {
    color: $twm;
}
