/*
----------------
Font Download
----------------
*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto&display=swap");
@font-face {
    font-family: "Tungsten-Bold";
    src: url("../fonts/Tungsten-Bold.otf") format("opentype"), url("../fonts/Tungsten-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "DINNextLTPro-Medium";
    src: url("../fonts/DINNextLTPro-Medium.otf") format("opentype"),
        url("../fonts/DINNextLTPro-Medium.ttf") format("truetype");
}
/*
----------------
UI Kit Presets
----------------
*/

$font: "Noto Sans TC", "DINNextLTPro-Medium", "Roboto";
$en: "DINNextLTPro-Medium", "Noto Sans TC", "Roboto";
$zh: "Noto Sans TC", "Roboto";
$num: "Tungsten-Bold", "Noto Sans TC", "Roboto";

.zh {
    font-family: $zh;
}
.en {
    font-family: $en;
}
.num {
    font-family: $num;
}

/*
----------------
Main Color Set
----------------
*/

$navy: #0f1923;
$red: #ff4655;
$deep-gray: #383e3a;
$gray: #8b978f;
$off-white: #ece8e1;
$black: #090909;
$white: #fff;

.red {
    color: $red;
}

/*
----------------
External
----------------
*/
%hidden {
    overflow: hidden;
    object-position: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}
