@import "kit";
@import "style";
@import "rwd";

html,
body,
* {
    box-sizing: border-box;
    font-family: $zh;
    line-height: 2;
}

* {
    &::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
        background-color: $red;
        border-radius: 2rem;
    }
}

html,
body {
    font-size: 10px;
    background-color: $off-white;
}

a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover,
    &:visited,
    &:active,
    &:focus {
        color: inherit;
    }
    &:hover {
        opacity: 0.8;
    }
}

img {
    width: 100%;
    height: auto;
}
